<h2>Deactivate Account</h2>

<div class="panel panel-danger">
    <div class="panel-heading">
        <h3 class="panel-title">We hate to see you go, but please read this and click the checkbox before clicking submit.</h3>
    </div>
    <div class="panel-body">
        <p>Deactivating your account will disable your profile and remove your name, photo, and songs from Sound Genie. Some information may still be visible to others, such as your name in your mastering engineers history and credits list and messages you sent. Any unused credits for mastering will be forfieted.</p>
        <p>Before deactivating your account, please download all of your completed songs as they will be destroyed upon account being deleted.</p>
        <p class="pull-right">Are you sure you want to leave?</p>
    </div>     
    <div class="panel-footer">
        <button class="btn btn-default" ui-sref="settings">Back</button>
        <button class="btn btn-danger pull-right">Deactivate Account</button>
    </div>                            
</div>   