<div class="row">
  <div class="col-md-3">

      <div class="widget widget-primary widget-item-icon">
          <div class="widget-item-left">
              <span class="fa fa-money"></span>
          </div>
          <div class="widget-data">
              <div class="widget-int num-count">{{user.account.credits}}</div>
              <div class="widget-title">Available Credits</div>
              <div class="widget-subtitle">1 Credit Per Song Mastered</div>
          </div>                          
      </div>

  </div>
</div>