<div class="row">

  <div class="col-md-3">

      <div class="widget widget-primary widget-item-icon">
          <div class="widget-item-left">
              <span class="fa fa-money"></span>
          </div>
          <div class="widget-data" ng-controller="AccountCtrl as ctrl">
              <div class="widget-int num-count">{{ctrl.credits}}</div>
              <div class="widget-title">Available Credits</div>
              <div class="widget-subtitle">1 Credit Per Song Mastered</div>
          </div>                          
      </div>

  </div>
  <div class="col-md-2">                        
      <a href="#" class="tile tile-info">
          $25
          <p>Buy It</p>                            
          <div class="informer informer-default"><span class="fa fa-shopping-cart"></span></div>
      </a>                        
  </div>



</div>