<div class="row" ng-controller="SongsCtrl as ctrl">

  <div class="col-md-3" >                        
    <a ng-click="ctrl.toggle()" class="tile tile-success tile-valign">Upload Tracks
        <div class="informer informer-default dir-tr"><span class="fa fa-cloud"></span></div>
        <div class="informer informer-default dir-bl">Requires 1 Credit Per Track</div>
    </a>                                                    
  </div>

  <div class="col-md-3" ng-controller="AccountCtrl as ctrl">
    <div class="widget widget-primary widget-item-icon">
      <div class="widget-item-left">
        <span class="fa fa-money"></span>
      </div>
      <div class="widget-data" >
        <div class="widget-int num-count">{{ctrl.credits}}</div>
        <div class="widget-title">Available Credits</div>
        <div class="widget-subtitle">1 Credit Per Song Mastered</div>
      </div>                          
    </div>
  </div>

  <div class="col-md-3">                        
    <a href="#" class="tile tile-info">
        $25 Credits
        <p>Bulk Options Available</p>                            
        <div class="informer informer-default"><span class="fa fa-shopping-cart"></span></div>
    </a>                        
  </div>

  <div class="col-md-3">                        
    <a href="#" class="tile tile-default">
        Need Help?
        <p>Contact Us</p>
    </a>                        
  </div>

  <div ng-show="ctrl.toggleUpload" class="row">
    <upload></upload>
  </div>
  
</div>