<!DOCTYPE html>
<html class="body-full-height">
  <head>
    <title>Soundgenie</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body ng-app="myApp" ng-controller="MainCtrl">
    <nav-bar></nav-bar>
    <ui-view></ui-view>
  </body>
</html>